# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo

# Entornos virtuales
venv/
env/
*.venv/
pip-log.txt
pip-delete-this-directory.txt

# Configuración de entornos
# .env ← ¡descomentar o eliminar esta línea!
.env.local
.settings/
.vscode/
.idea/
*.iml

# Archivos de logs
logs/

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/

# Modelos y datasets
insumos/
*.csv
*.tsv
*.json
*.xlsx
*.db
*.sqlite
*.h5
*.pkl
*.joblib
*.pth
*.onnx

# Modelos y NLP
model/
models/
*.bin
*.vec
*.hdf5

# Archivos de configuración
config.yaml
config.json

# Caché de Machine Learning
*.cache/
wandb/
mlruns/

# Inclusión de archivos
!package.json
!particles-config.json
!bower.json
!static/assets/js/particle_js/particles.min.js