{% extends "base_login.html" %}
{% load custom_filters %}
{% block title %}Nueva contraseña{% endblock %}
{% block content %}
  <h3 class="text-center">Crea una nueva contraseña</h3>

  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
        {% if field.errors %}
          {{ field|add_attrs:"class=form-control is-invalid,required=true" }}
          <div class="invalid-feedback">{{ field.errors.0 }}</div>
        {% else %}
          {{ field|add_attrs:"class=form-control,required=true" }}
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary w-100 mt-4">Guardar nueva contraseña</button>
  </form>
{% endblock %}