{% load static %}
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="index.html" class="logo">
          <img
            src="{% static 'assets/img/kaiadmin/logo_light.svg' %}"
            alt="navbar brand"
            class="navbar-brand"
            height="40"
          />
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle toggle-sidebar">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-section">
            <span class="sidebar-mini-icon">
              <i class="fa fa-ellipsis-h"></i>
            </span>
            <h4 class="text-section">Automatizaciones</h4>
          </li>
            <li class="nav-item {% if request.resolver_match.url_name in 'medios_magneticos' %}active submenu{% endif %}">
              <a data-bs-toggle="collapse" href="#base"
                 aria-expanded="{% if request.resolver_match.url_name in 'medios_magneticos' %}true{% else %}false{% endif %}">
                <i class="fas fa-layer-group"></i>
                <p>Medios magnéticos</p>
                <span class="caret"></span>
              </a>
              <div class="collapse {% if request.resolver_match.url_name in 'medios_magneticos' %}show{% endif %}" id="base">
                <ul class="nav nav-collapse">
                  <li class="{% if request.resolver_match.url_name == 'medios_magneticos' %}active{% endif %}">
                    <a href="{% url 'medios_magneticos' %}">
                      <span class="sub-item">Iniciar</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name in 'medios_distritales' %}active submenu{% endif %}">
              <a data-bs-toggle="collapse" href="#base"
                 aria-expanded="{% if request.resolver_match.url_name in 'medios_distritales' %}true{% else %}false{% endif %}">
                <i class="fas fa-layer-group"></i>
                <p>Medios distritales</p>
                <span class="caret"></span>
              </a>
              <div class="collapse {% if request.resolver_match.url_name in 'medios_distritales' %}show{% endif %}" id="base">
                <ul class="nav nav-collapse">
                  <li class="{% if request.resolver_match.url_name == 'medios_distritales' %}active{% endif %}">
                    <a href="{% url 'medios_distritales' %}">
                      <span class="sub-item">Iniciar</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
        </ul>
      </div>
    </div>
</div>